#$ TOOL ispLEVER Classic 1.7.00.05.28.13
#$ DATE Thu Feb 21 15:39:51 2019
#$ MODULE lab6
#$ PINS 8 I R Ci K:1 A B Co F:23
.type fr
.i 4
.o 4
.ilb I R Ci K
.ob A B Co F
.p 18
01-- ~~1~
0-1- ~~1~
110- ~1~~
0--1 ~~1~
10-1 ~1~~
1111 1~~~
1-10 ~1~~
-000 ~~~1
1--- ~~0~
0--- 00~~
-1-- ~~~0
-0-- 0~~~
--1- ~~~0
--0- 0~~~
---1 ~~~0
-111 ~0~~
---0 0~~~
-000 ~00~
.end
